@using LearningSystem.Contracts
@model List<LearningSystem.Contracts.Course>

@{
    ViewData["Title"] = "Мої Курси";
}



<div class="text-center">
    <h1 class="display-4">Курси</h1>
    <div class="course-container">
        @{
            foreach(Course item in @Model)
            {
               
                <div class="course-item"> 
                <a asp-area="" asp-controller="Course" asp-action="EditLesson" asp-route-id="@item.Id">
                    <div class="course-edit-delete">
                        <form method="get" action="/Course/Edit/@item.Id">
                            
                            <button type="submit" class="course-edit">
                                РЕДАГУВАТИ
                                <img class="icon icon-transparent" src="~/icon/pensil.png" />
                            </button>
                        </form>
                        <form method="post" action="/Course/Delete/@item.Id">
                           
                            <button type="submit" class="course-delete">
                                ВИДАЛИТИ
                                <img class="icon icon-transparent" style="background-color: transparent" flex-basis: 0" src="~/icon/basket.png" />
                            </button>
                        </form>
                    </div>
                    <img class="course-image" src="@item.ImagePath" />
                    <p class="title">@item.CourseName</p>
                    <div>
                        <p class="course-description">@item.Description </p>
                    </div>
                 </a>
                </div>
               
            }
          }
    </div>
</div>
