@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Web API + MVC<a href="https://localhost:7079/swagger/index.html"> Go To Swagger UI </a>.</p>
</div>
