@using LearningSystem.Contracts
@model List<LearningSystem.Contracts.Course>

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Курси</h1>
    <div class="course-container">
        @{
            foreach(Course item in @Model)
            {
                <div class="course-item"> 
                    <img class="course-image" src="@item.ImagePath" />
                    <a asp-area="" asp-controller="Course" asp-action="Lessons" asp-route-id="@item.Id"><p class="title">@item.CourseName</p></a>
                    <p>@item.Description</p>
                </div>
               
            }
          }
    </div>
</div>
