@using LearningSystem.Contracts
@model List<LearningSystem.Contracts.Course>

@{
    ViewData["Title"] = "Курси";
}



<div class="text-center">
    <h1 class="display-4">Курси</h1>
    <div class="course-container">
        @{
            foreach(Course item in @Model)
            {
                <div class="course-item"> 
                <a asp-area="" asp-controller="Course" asp-action="Lesson" asp-route-id="@item.Id">
                    <img class="course-image" src="@item.ImagePath" />
                    <p class="title">@item.CourseName</p>
                    <div>
                        <p style="font-family: Courier New, monospace;">@item.Description</p>
                    </div>
                  </a>
                </div>
               
            }
          }
    </div>
</div>
