@model DeepLearn.Contracts.LessonsStructs.TestBlock

@{
    ViewData["Title"] = "Index";
}

<h1>
    @Html.DisplayFor(model => model.TheoryBlock.Title)
</h1>

<div>
    <hr />
    <dl class="row">
        <p style="font-size: 20px;">
            @Html.DisplayFor(model => model.Question)
        </p>
        
        
        
    </dl>
</div>
@using (Html.BeginForm("CheckAnswers", "TestBlocks"))
{
    <table>
        <tbody>
        @foreach (var answer in Model.Answers)
        {
            <tr>
                <td>@answer.Text</td>
                <td>@Html.RadioButtonFor(model => model.SelectedAnswerId, answer.Id)</td>
            </tr>
        }
        </tbody>
    </table>

    <div>
        <input type="submit" value="Check Answers" class="btn btn-primary" />
    </div>
}

<dd class="col-sm-10">
    <a asp-action="Create" asp-controller="TestBlocks" class="btn btn-success">Create New Test Block</a>
</dd>