
.course-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 25px;
}

.course-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


.course-container {
    display: flex;
    flex-wrap: wrap;
}

    .course-container > div {
        flex-basis: calc(33.33% - 20px); 
        margin: 10px; 
    }
        .course-container > div > p {
            margin: 0;
            font-size: 1em;
            padding: 0; 
            margin-bottom: 5px; 
        }
.course-item:hover {
    border: 5px solid #ccc;
    border-radius: 10px;
    height: auto;
    overflow: hidden;
}
.course-item {
    word-wrap: break-word;
}
  
    .title {
    padding-top: 5px;
    font-size: 20px; 
    font-weight: bold; 
    margin-top: 10px; 
    text-align: center; 
}

    .title::after {
        content: ""; 
        display: block;
        margin: 5px auto; 
        width: 50px;
        border-bottom: 2px solid black; 
    }


.course-edit {
    display: flex;
    background-color: white;
    border-radius: 3px;
}
    .course-edit:hover {
        cursor: pointer;
        border: 2px;
        border-color: black;
    }
@media screen and (max-width: 768px) {
    .course-container {
        flex-direction: column;
    }

        .course-container > div {
            flex-basis: 100%;
            margin: 10px 0;
        }
}

