
.course-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 25px;
}

.course-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


.course-container {
    display: flex;
    flex-wrap: wrap;
}

    .course-container > div {
        flex-basis: calc(33.33% - 20px); /* установите желаемый отступ между элементами */
        margin: 10px; /* установите желаемый внешний отступ элементов */
    }
        .course-container > div > p {
            margin: 0;
            font-size: 1em;
            padding: 0; /* убираем внутренние отступы */
            margin-bottom: 5px; /* добавляем отступ между текстом и рамкой */
        }
.course-item:hover {
    border: 5px solid #ccc;
    border-radius: 10px;
    height: auto;
    overflow: hidden;
}
.course-item {
    word-wrap: break-word;
}
  
    .title {
    padding-top: 5px;
    font-size: 20px; /* установите желаемый размер шрифта */
    font-weight: bold; /* установите желаемый вес шрифта */
    margin-top: 10px; /* установите желаемый внешний отступ сверху */
    text-align: center; /* установите желаемое выравнивание */
}

    .title::after {
        content: ""; /* добавляем пустой элемент для линии */
        display: block;
        margin: 5px auto; /* установите желаемые внешние отступы сбоку и выравнивание по центру */
        width: 50px; /* установите желаемую длину линии */
        border-bottom: 2px solid black; /* установите желаемую толщину и цвет линии */
    }



@media screen and (max-width: 768px) {
    .course-container {
        flex-direction: column;
    }

        .course-container > div {
            flex-basis: 100%;
            margin: 10px 0;
        }
}

