#reg-log-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0;
    font-family: Verdana, bold;
}

#FormRegistration {
    width: 400px;
    position: absolute;
}

    #FormRegistration form {
        margin-bottom: 0;
    }

#FormLogin {
    position: absolute;
    width: 400px;
}

.btn {
    margin-left: 60%;
    margin-top: 10%;
    position: absolute;
    font-family: Verdana, bold;
}
.create-form-course {
    width: 50%;
}

.upload-alert {
    position: absolute;
    margin-right: 5%;
}