.profile-header {
    margin-top: 10%;
    display: flex;
    justify-content: flex-start;
    background-color: lightsteelblue;
    align-items: stretch;
    padding: 25px;
    border-radius: 10px;
    color: white;
}
.profile-photo {
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
}
.profile-item  {
    display: flex;
    font-size: 25px;
    
}

    .profile-item p {
        color:black
    }
.profile-extra-info
{
    display: flex;
    justify-content: space-between;
  
}
    .profile-extra-info p {
        background-color: white;
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;
    }
.profile-info {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.profile-name {
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: center;
    width: 400px;
    height 200px;
}

#profile-likes {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    display: none;
}
#profile-courses {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    display: none;
}
#profile-comments {
    word-break: break-all;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
}
.profile-extra-info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .profile-header {
        flex-direction: column;
        align-items: center;
    }

    .profile-photo {
        max-width: 50%;
        min-width: 50%;
        max-height: 50%;
        min-height: 50%;
    }

    .profile-info {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    .profile-name {
        width: 100%;
        height: auto;
    }
}
.profile-item p:hover {
    color: rgb(255,158,70);
}
.file-label {
    font-size: 20px;
    color: #444;
    margin-bottom: 10px;
}

.file-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
}

.submit-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

    .submit-button:hover {
        background-color: #3e8e41;
    }
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]::before {
    content: 'Upload file';
    display: inline-block;
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 6px 12px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    text-align: center;
}

input[type="file"]:hover::before {
    border-color: #333;
}

input[type="file"]:active::before {
    background: #ddd;
}
