@model Contracts.Item

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TagID" class="control-label"></label>
                <select asp-for="TagID" class ="form-control" asp-items="ViewBag.TagID"></select>
@*                <select asp-for="TagID" class="form-control" asp-items="@ViewBag.Tags"></select>*@
            </div>
@*            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag.TagName" class="form-control" readonly />
                <input type="hidden" asp-for="TagID" class="form-control" />
            </div>*@




            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $('#TagID').on('change', function () {
                var tagId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetTagName", "Tags")',
                    type: 'GET',
                    data: { id: tagId },
                    success: function (result) {
                        $('#Tag').val(result);
                    },
                    error: function () {
                        $('#Tag').val('');
                    }
                });
            });
        });
    </script>
}*@
